# .gitignore

# 빌드 결과물 무시
out/
build/
bin/
*.pdb
*.obj
*.exe
*.dll
*.ilk

# visual studio 임시 파일 무시
.vs/
*.user
*.suo
*.ipch
enc_temp_folder/
*.enc
temp/
temp.*

# CMake 임시 파일 무시
CMakeCache.txt
CMakeFiles/
cmake_install.CMake
# Qt 자동 생성 파일 무시
*_autogen/
ui_*.h
moc_*.cpp

# API 키가 들어있는 설정 파일 무시 (보안)
src/core/Config.h

# GitHub 관련 폴더 무시
.github/
